.side-bar {
    height: 100%;
    width: 10rem;
    overflow: auto;
    background-color: var(--color-1);
}

.side-bar > button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.6rem 0 0.6rem 0;
    font-size: 1.3rem;
    background-color: inherit;
    transition: filter 100ms ease-out;
}

body.theme-dark .side-bar > button:hover {
    filter: brightness(1.3)
}

body.theme-light .side-bar > button:hover {
    filter: brightness(0.97);
}