.commands-item {
    margin-bottom: 10px;
    padding: 10px
}

.commands-item p {
    margin: 0;
}

.commands-item input, .commands-item select {
    display: inline;
    margin-left: 10px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px
}

.commands-item button, .commands-add {
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px
}

body.theme-dark .commands-item input,  body.theme-dark .commands-item select {
    background-color: var(--tertiary-color);
    color: white;
}

.command-options {
    padding-bottom: 20px;
    margin-left: 5px;
    padding-left: 20px;
    border-left: 2px dashed color-mix(
        in srgb,
        var(--secondary-color) 50%,
        transparent
    );
}

.options-add, .commands-delete {
    margin-top: 10px;
}