.button {
    padding: 0 0.7rem 0 0.7rem;
    cursor: pointer;
    color: white;
    
    transition: background-color 0.1s ease-out;
}

.button[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.button:not([disabled]):hover {
    filter: brightness(0.85)
}

.button-icon {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 0.2rem;
}