.button {
    padding: 10px;
    cursor: pointer;
    color: white;
    height: inherit;
    
    transition: background-color 0.1s ease-out;
}

.button[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.button:not([disabled]):hover {
    background-color: color-mix(
        in srgb,
        var(--tertiary-color) 90%,
        black
    )
}

.button-icon {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 0.2rem;
}