.secrets-item > * {
    display: inline-block;
}

.secrets-item img {
    vertical-align: middle;
    cursor: pointer;
    margin: 5px
}

.secrets-item input {
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px
}

body.theme-dark .secrets-item input {
    background-color: var(--tertiary-color);
    color: white;
}

.trash-icon {
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color ease-out 0.1s
}

.trash-icon:hover {
    background-color: color-mix(
        in srgb,
        var(--primary-color) 90%,
        black
    )
}

.secret-add {
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 5px
}

.secret-add svg {
    vertical-align: middle
}