.blocklyToolboxCategory {
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    border-radius: 3px
}

.theme-light .blocklyTreeSeparator {
    border-bottom: solid #000000
}

.blocklyTreeSeparator {
    opacity: 0.1;
    border-width: 2px
}

.blocklyHtmlInput {
  color-scheme: light;
}