.bots-container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2rem
}

.bots-new {
    align-self: flex-start;
    display: block;
    cursor: pointer;
    margin: 1rem;
    padding: 0.20rem 0.75rem 0.20rem 0.75rem;
    font-size: 1rem
}

.bot-item {
    position: relative;
    background-color: var(--color-1);
    border-radius: 5px;
    width: 20rem;
    height: 10rem;
}

.bot-item > button {
    cursor: pointer;
    width: 100%;
    height: 1.75rem;
    font-size: 1rem;
    position: absolute;
    bottom: 0
}

.bot-item > h1, .bot-item > p {
    color: var(--color-5);
    margin: 0;
    padding: 0.75rem;
}

.bot-item .trash-icon {
    position: absolute;
    padding: 0.5rem;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
}