.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    opacity: 1
}

.modal > h1 {
    margin: 5px
}

.modal-close-options {
    align-self: flex-end;
    margin-top: 0.5rem;
}

.modal-close, .modal-save {
    padding: 7px;

    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px
}

.modal-save {
    background-color: var(--color-5);
    color: var(--color-1);
}

.modal-save:hover {
    background-color: var(--color-4);
}

.modal-close {
    background-color: var(--color-2);
    color: var(--color-5)
}

.modal-contents {
    overflow: auto;
    flex: 1
}

.modal hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    flex-shrink: 0;
}