.bot-setting {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px
}

.bot-setting > span {
    width: 30%
}

.bot-setting > input {
    margin-left: 10px;
    width: 60%;
    border-radius: 5px;
    padding: 0.25rem;
    border: 0.1rem solid var(--color-4);
}

body.theme-dark .bot-setting > input {
    background-color: var(--primary-color);
    color: white;
}

.bot-setting > p {
    margin: 0;
    font-style: italic;
    font-size: 14px;
    margin-top: 5px
}