.preferences {
    flex: 1;
    margin: 1rem;
}

.preferences > h1 {
    margin: 0.5rem 0 0.5rem 0;
}

.preferences > hr {
    width: 100%;
}

.preference-option > label {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.preference-option > input, .preference-option > select {
    font-size: 1.10rem;
}

.preferences > h1, .preference-option > label {
    color: var(--color-5);
}

.preference-option {
    width: max-content;
}