.preferences {
    width: 20rem;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preferences > h1 {
    text-align: center;
}

.preference-option > label {
    margin-right: 0.5rem;
}

.preferences > h1, .preference-option > label {
    color: var(--color-5);
}

.preference-option {
    width: max-content;
}