:root, html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif
}

body.theme-light {
  --primary-color: #e0e0e0ff;
  --secondary-color: #232323ff;
  --tertiary-color: #4176bbff;
}

body.theme-dark {
  --primary-color: #272727;
  --secondary-color: #e0e0e0ff;
  --tertiary-color: #232323ff;
  background-color: #1b1b1b;
  color-scheme: dark;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%
}

.dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: row
}