:root, html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif
}

body.theme-light {
  --color-1: #e4e4e4;
  --color-2: #f0f0f0;
  --color-3: #ffffff;
  --color-4: #2a2a2a;
  --color-5: #1e1e1e;
  --color-6: #232323;

  --color-7: #4176bb;
}

body.theme-dark {
  --color-1: #2a2a2a;
  --color-2: #1e1e1e;
  --color-3: #232323;
  --color-4: #d0d0d0;
  --color-5: #f0f0f0;
  --color-6: #ffffff;

  --color-7: #232323;

  background-color: #1b1b1b;
  color-scheme: dark;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%
}

.dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: row
}