.editor-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    height: 2.5rem
}

.editor-bar-main, .editor-bar-side {
    display: flex;
}

.editor-bar-dropdown {
    position: absolute;
    top: 100%;
    min-width: 160px;
    z-index: 75;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--tertiary-color);
    filter: brightness(1.1)
}

.editor-bar-dropdown[mode="right"] {
    left: 0;
}

.editor-bar-dropdown[mode="left"] {
    right: 0
}

.editor-bar-dropdown > :last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-container {
    position: relative;
    display: inline-block
}

.editor-button {
    padding: 10px;
    cursor: pointer;
    color: white;
    height: inherit;
    
    transition: background-color 0.1s ease-out;
}

.editor-button[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.editor-button:not([disabled]):hover {
    background-color: color-mix(
        in srgb,
        var(--tertiary-color) 90%,
        black
    )
}

.editor-button-icon {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 0.2rem;
}